/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #fff1f7;
  --background-image-url: url(../images/cover-image-light.png);
  --main-text-background-color: #ff8dcb;
  --main-decor-color: #353430;
  --accent-color: #ffc2e6;
  --footer-title-shadow: #ff0070;
  --text-shadow: #ff8dcb;
  --supplement-text-color: #353430;
  --main-paragraph-text-color: #353430;
  --link-color: #353430;
  --button-hover-color: rgb(50 49 45 / 0.4);
}

.theme-light .header-rec-icon {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --background-color: #fff1f7;
    --background-image-url: url(../images/cover-image-light.png);
    --main-text-background-color: #ff8dcb;
    --main-decor-color: #353430;
    --accent-color: #ffc2e6;
    --footer-title-shadow: #ff0070;
    --header-title-shadow: #ff8dcb;
    --supplement-text-color: #353430;
    --main-paragraph-text-color: #353430;
    --link-color: #353430;
    --button-hover-color: rgb(50 49 45 / 0.4);
  }

  .header-rec-icon {
    display: none;
  }
}
