/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-size: var(--paragraph-font-size);
  font-family: var(--font-family);
  background-image: var(--background-image-url);
  color: var(--main-color);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  position: relative;
  inline-size: 100%;
  block-size: calc(100vh - var(--margin-small));
}

.header__wrapper {
  display: grid;
  block-size: 100%;
  /* inline-size: 100%; */
  min-height: 680px;
  margin: 0 var(--margin-small);
  /* grid-column: 1 / -1;
  grid-row: 2 / 3; */
  align-self: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.header__theme-dark-rec-icon {
  position: absolute;
  display: flex;
  min-width: 52px;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  top: var(--margin-small); /* ??? */
  right: 10px;
}

.header__theme-dark-rec {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  font-family: inherit;
}

.header__theme-dark-rec::after {
  content: '';
  display: inline-block;
  background-color: var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 0  2px rgb(255, 0, 112, 0.6);
  width: 9px;
  height: 9px;
}

.header__theme-menu {
  grid-row: 1;
  grid-column: 2;
  justify-items: end;
  font-size: var(--paragraph-font-size);
}

.header__theme-menu-list {
  display: grid;
  gap: 11.5px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  font-size: 18px;
  line-height: 18px;
}

.header__theme-menu-button {
  text-align: center;
  min-width: 70px;
  min-height: 26px;
}

.header__theme-menu-button_type_light {
  grid-row: 1 / 2;
}

.header__theme-menu-button_type_auto {
  grid-row: 2 / 3;
}

.header__theme-menu-button_type_dark {
  grid-row: 3 / -1;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
}

.header__theme-menu-button_active {
  border: solid 1px var(--main-color);
}

.header__theme-menu-button:hover {
  outline: solid 1px rgb(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  text-decoration: underline;
  outline: none;
}

.header__theme-menu-item:has(:focus) {
  outline: none;
}

.header__theme-menu-item:has(:focus-within) {
  text-decoration: underline;
}

.header-title {
  line-height: 82.5%;
  color: var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__theme-main-header {
  grid-column: 1 / -1;
  grid-row: 2;
  text-shadow: 4px 4px 0 var(--main-color);
}

.header__theme-title {
  grid-row: 3;
  grid-column: 1 / -1;
  color: var(--supplement-text-color);
  text-wrap: wrap;
  line-height: 23.4px;
  font-weight: bold;
}

.title-decor {
  background-color: var(--main-color);
  height: fit-content;
}

.main__articles {
  background-color: var(--main-background-color);
  margin: 0 var(--margin-small);
  margin-block-start: var(--margin-medium);
}

.main__article {
  margin-block-end: var(--margin-large);
}

.main__article-header {
  font-size: var(--paragraph-font-size);
  margin-block-end: var(--margin-small);
}

.main__article-title {
  margin-block-end: 20px;
  font-size: var(--paragraph-font-size);
  color: var(--supplement-text-color);
}

.main__article-subtitle {
  font-size: var(--paragraph-font-size);
  color: var(--supplement-text-color);
  margin-block-end: 10px;
}

.main__article-text {
  color: var(--main-paragraph-text-color);
}

.text-weight-normal {
  font-weight: normal;
}

.article__link-accent-effect {
  text-shadow: 2px 2px 1px var(--main-color);
  line-height: auto;
  text-decoration: none;
}

.article__link-accent-effect:hover {
  text-decoration: underline;
}

.article__link-accent-effect:focus {
  outline: solid 1px rgb(255, 0, 112, 0.4);
}

.main__gallery {
  margin: 0 var(--margin-small);
}

.main__gallery-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  min-height: fit-content;
  vertical-align: middle;
  margin-block-end: var(--margin-small);
}

.footer {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  block-size: 668px;
  margin: 0 var(--margin-small);
}

.decor-rectangles::before,
.decor-rectangles::after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
}

.decor-rectangles::before {
  bottom: var(--margin-small);
  left: var(--margin-small);
  border-block-end: solid var(--main-color) 1px;
  border-inline-start: solid var(--main-color) 1px;
}

.decor-rectangles::after {
  top: var(--margin-small);
  right: var(--margin-small);
  border-block-start: solid var(--main-color) 1px;
  border-inline-end: solid var(--main-color) 1px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--main-color);
}

@media (min-width: 780px) {
  :root {
    --margin-bottom-after-section: 40px;
    --margin-small: 20px;
    --margin-medium: 60px;
    --margin-large: 80px;
  }
  .header__wrapper {
    min-height: 1024px;
    margin-left: calc(var(--margin-small) / 2);
    grid-template-columns: 1fr 1fr;
  }
  .header__theme-title {
    grid-column: 2;
  }
  .article-title-aside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content min-content;
    row-gap: 20px;
    column-gap: var(--margin-small);
  }
  .article-title-aside > .main__article-header {
    grid-column: 1;
    grid-row: 1;
    margin-block-end: 0;
  }

  .main__article-aside-row {
    grid-column: 2 / -1;
    grid-row: span 1;
  }

  .article-title-above {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: var(--margin-small);
    grid-template-rows: repeat(3, min-content);
  }

  .main__article-above-row {
    grid-column: span 3;
    grid-row: span 1;
  }

  .main__article-header-above-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
  }

  .main__article-header {
    grid-row: 1;
    grid-column: 1;
  }

  .main__gallery_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr fit-content;
    gap: var(--margin-small);
  }
 
  .image-sunset {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .image-ice-cream {
    grid-row: 1 / 3;
    grid-column: 3;
  }

  .image-tape {
    grid-row: span 2;
    grid-column: 1;
  }

  .image-books {
    grid-row: 2;
    grid-column: 2;
  }

  .image-street {
    grid-row: 3;
    grid-column: 2 / -1;
  }

  .main__gallery {
    margin-block-end: var(--margin-medium);
  }

  .footer {
    block-size: 100vh;
  }
}

@media (min-width: 1024px) {
  :root {
    --margin-large: 60px;
  }

  /* .header__wrapper {
    margin-left: calc(var(--margin-small) / 2);
  } */

  .header__theme-menu {
    grid-row: 1;
    grid-column: 1 / -1;
    margin-block-start: var(--margin-small);
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: grid;
    gap: 11.5px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    font-size: 18px;
    line-height: 18px;
  }

  .article-title-above {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    column-gap: var(--margin-small);
  }

  .main__article-above-row {
    grid-column: span 1;
    grid-row: 1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image-url: url(../images/cover-image-light.png);
    --main-color: #FF8DCB;
    --accent-color: #FFC2E6;
    --footer-title-shadow: #FF0070;
    --supplement-text-color: #353430;
    --main-paragraph-text-color: #353430;
  }
  .page {
    color: var(--main-paragraph-text-color);
  }
  
  .header__theme-dark-rec-icon {
      display: none;
    }
  .decor-rectangles::before {
      border-block-end: solid var(--main-paragraph-text-color) 1px;
      border-inline-start: solid var(--main-paragraph-text-color) 1px;
    }
  .decor-rectangles::after {
      border-block-start: solid var(--main-paragraph-text-color) 1px;
      border-inline-end: solid var(--main-paragraph-text-color) 1px;
    }
  .header__theme-menu-button_active {
      border: solid 1px var(--main-paragraph-text-color);
    }
  .header__theme-menu-button {
      color: var(--main-paragraph-text-color);
    }
  .header__theme-menu-button:hover {
      outline: solid 1px rgb(50, 49, 45, 0.4);
    }
   .footer__title {
      text-shadow: 2px 2px 0 var(--footer-title-shadow);
    }
  .main__article-header {
      color: var(--main-paragraph-text-color);
    }
  .article__link-accent-effect:focus {
      outline: solid 1px rgb(53, 52, 48, 0.4);
    }
}